#details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .details-content {
    width: calc(95% - 20px);
    background-color: var(--Blog-color-back);
    box-shadow: var(--Blog-shadow);
    border-radius: 20px;
    padding: 10px;
    .header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px dotted gray;
      .info {
        display: flex;
        font-size: 12px;
        margin: 20px 0;
        opacity: 0.6;
        .info-content {
          display: flex;
          align-items: center;
          user-select: none;
          & > * {
            display: flex;
            align-items: center;
            margin: 0 5px;
          }
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .brief {
      margin: 10px;
      padding: 16px;
      opacity: 0.7;
      border-radius: 10px;
      background-color: #00000040;
    }

    .context {
      padding: 16px;
      min-height: 80vh;
    }
  }
  .comment-box {
    margin: 20px 0;

    width: calc(95% - 32px);
    background-color: var(--Blog-color-back);
    box-shadow: var(--Blog-shadow);
    border-radius: 20px;
    padding: 16px;
    .comment-empty {
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .comment-header {
      display: flex;
      align-items: flex-end;
      h2 {
        position: relative;
        padding-left: 20px;
        &::before {
          content: '';
          width: 3px;
          border-radius: 10px;
          height: 100%;
          background-color: var(--Blog-color-primary);
          position: absolute;
          left: 0;
        }
      }
      .comment-count {
        margin-left: 10px;
        font-size: 12px;
        opacity: 0.8;
      }
    }

    .list-item {
      width: 95%;
      display: flex;
      flex-direction: column;
      margin: 10px 0;
      padding: 0 16px;
      * {
        letter-spacing: 1px;
      }
      .root-comment {
        border-top: 1px dotted black;
      }
      .name {
        font-weight: 600;
        font-size: 20px;
        cursor: pointer;
      }
      .info {
        font-size: 12px;
        opacity: 0.6;
        margin: 10px 0;
        display: flex;
        align-items: center;
        * {
          letter-spacing: 0;
        }
        & > * {
          display: flex;
          align-items: center;
          & > * {
            margin: 0 5px;
          }
        }
        svg {
          width: 14px;
          height: 14px;
        }
      }
      .children {
        align-self: flex-end;
        width: 95%;
        background-color: var(--Blog-color-back);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        .parent {
          padding: 10px 16px;
          align-self: flex-end;
          width: 95%;
          background-color: #f4f4f4;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          .name {
            cursor: default;
          }
        }
      }
    }
    .submit-comment {
      margin-top: 50px;
      * {
        border: 0;
        outline: 0;
        background-color: transparent;
      }
      .form {
        margin: 20px 0;
      }
      .reply {
        display: flex;
        width: 100%;
        position: relative;
        .remove-reply {
          position: absolute;
          right: 0;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          border: 2px solid var(--Blog-color-primary);
          padding: 2px;

          &::after {
            content: 'X';
          }
        }
      }
      .form-item {
        display: flex;
        margin: 10px 0;

        .form-label {
          width: 100px;
        }
        input,
        textarea {
          border-radius: 5px;
          padding: 2px 16px;
          border: 2px solid var(--Blog-color-primary);
          width: calc(100% - 100px);
        }
      }
      .options {
        text-align: right;
        button {
          border-radius: 5px;
          padding: 2px 5px;
          border: 2px solid var(--Blog-color-primary);
          cursor: pointer;
        }
      }
    }
  }
}
