#details {
  width: 100%;
  display: flex;
  justify-content: center;
  .details-content {
    width: calc(95% - 20px);
    background-color: var(--Blog-color-back);
    box-shadow: var(--Blog-shadow);
    border-radius: 20px;
    padding: 10px;
    .header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px dotted gray;
      .title {
        // text-align: center;
      }
      .info {
        display: flex;
        font-size: 0.5vw;
        margin: 20px 0;
        opacity: 0.6;
        .info-content {
          display: flex;
          align-items: center;
          user-select: none;
          & > * {
            display: flex;
            align-items: center;
            margin: 0 5px;
          }
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .brief {
      margin: 10px;
      padding: 16px;
      opacity: 0.7;
      border-radius: 10px;
      background-color: #00000040;
    }

    .context {
      padding: 16px;
      min-height: 80vh;
    }

    .comment {
      .comment-header {
        display: flex;
        align-items: flex-end;
        h2 {
          position: relative;
          padding-left: 20px;
          &::before {
            content: '';
            width: 3px;
            border-radius: 10px;
            height: 100%;
            background-color: var(--Blog-color-primary);
            position: absolute;
            left: 0;
          }
        }
        .comment-count {
          margin-left: 10px;
          font-size: 12px;
          opacity: 0.8;
        }
      }
    }
  }
}
