* {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  text-decoration: none;
}

body {
  background-color: #f4f4f4;
}

html {
  --Blog-color-primary: #00bd6f;
  --Blog-color-back: #ffffff99;
  // --Blog-color-back: #fff;
  --Blog-color-word: black;
  --Blog-color-dim: #ffffff90;

  // :hover
  --Blog-color-word-hover: white;
}

html {
  --Blog-shadow: 5px 5px 20px 5px #00000020;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

a {
  color: var(--Blog-color-word);
}

#inform-box {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  z-index: 100;
  .infom-item {
    display: flex;
    flex-direction: column;
    left: 100%;
    padding: 16px;
    border-radius: 10px;
    box-shadow: var(--Blog-shadow);
    background-color: #fff;
    margin: 10px;

    .inform-header {
      color: var(--Blog-color-primary);
      font-size: 18px;
      font-weight: 600;
    }
    .inform-content {
      margin-top: 5px;
    }
  }
}
@keyframes informEnter {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes informOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
