* {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  text-decoration: none;
}

body {
  background-color: #f4f4f4;
}

html {
  --Blog-color-primary: #00bd6f;
  --Blog-color-back: #ffffff99;
  // --Blog-color-back: #fff;
  --Blog-color-word: black;
  --Blog-color-dim: #ffffff90;

  --Blog-color-success: #00bd6f;
  --Blog-color-error: red;
  --Blog-color-info: gray;
  --Blog-color-warning: #eeff00;

  // :hover
  --Blog-color-word-hover: white;
  // dark
  --Blog-color-word-dark: white;
}

html {
  --Blog-shadow: 5px 5px 20px 5px #00000020;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

a {
  color: var(--Blog-color-word);
}

.--blog-button {
  padding: 3px 10px;
  margin: 2px 5px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 1px 1px 3px 1px #00000050;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border: 3px solid transparent;
    transition: all 0.3s ease;
  }
  &:hover {
    &::after {
      background-color: gray;
      opacity: 0.3;
      border: 3px solid black;
    }
  }
}
