* {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  color: var(--Blog-color-word);
}

body {
  background-color: #f4f4f4;
}

html {
  --Blog-color-primary: #00bd6f;
  --Blog-color-back: #fff;
  --Blog-color-word: black;
  --Blog-color-dim: #ffffff90;

  // :hover
  --Blog-color-word-hover: white;
}

html {
  --Blog-shadow: 5px 5px 20px 5px #00000020;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}
